<div class="tool-panel">
  <div class="tool-row">
    <label class="tool-inline">Total items
      <input type="number" id="eta-total" class="tool-number" min="1" value="100">
    </label>
    <label class="tool-inline">Completed
      <input type="number" id="eta-done" class="tool-number" min="0" value="25">
    </label>
    <label class="tool-inline">Elapsed (seconds)
      <input type="number" id="eta-elapsed" class="tool-number" min="0" value="30">
    </label>
  </div>
  <dl id="eta-results" class="tool-results"></dl>
</div>
